.contact-container{
    position: relative;
    width: 100%;
    min-height: 70px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: whitesmoke;
    overflow: hidden;
    
}
.container-content{
    padding-top: 5px;
    display: flex;
    flex-direction: row;  
}
.account-content{
    width: 80%;
    color: white;
    position:relative;
    margin-left: 15px;
    margin-top: -15px;
    overflow: hidden;
}
.account-content > h5{
    height: 18px;
    overflow: hidden;
    margin-top: -15px;
}


/* Actions */

.contact-container:hover{
    background-color: rgb(44, 43, 43);
}
