.layout-style{
    display: flex;
    flex-direction: row;
}

.contact-style{
    width: 30%;
    height: 518px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-style{
    width: 70%;
    height: 445px;
}
.message-window{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.message-footer{
    width: 100%;
    height: 73px;
}