.layout-style{
    display: flex;
    flex-direction: row;
}

.contact-style{
    width: 30%;
    height: 555px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.message-style{
    width: 70%;
    height: 485px;
}
.message-footer{
    width: 100%;
    height: 70px;
}